<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @equipment.name %>
</p>

<%= link_to 'Edit', edit_user_equipment_path(@user, @equipment) %> |
<%= link_to 'Back', user_equipment_index_path %>
