<div class="card card-outline-success">
	<div class="card-header card-inverse card-success text-center">
		<p id="notice"><%= notice %></p>
  	<h1>Editing Exercise</h1>
 	</div>
	<div class="card-block">
		<%= render 'form' %>
	</div>
  <div class="card-footer card-inverse card-success">
		<%= link_to show_tag, user_exercise_path(@user) %> | 
		<%= link_to back_tag, user_exercises_path %>
	</div>
</div>