<div class="card card-outline-success">
	<div class="card-header card-inverse card-success text-center">
		<p id="notice"><%= notice %></p>
  	<h1>Editing Exercise</h1>
 	</div>
	<div class="card-block">
		<%= render 'form' %>
	</div>
  <div class="card-footer card-inverse ">
		<%= link_to back_tag, user_exercises_path, title: 'Back to Exercises', 'data-toggle' => 'tooltip', 'data-placement' => 'top' %> | 
		<%= link_to show_tag, user_exercise_path(@user), title: 'View Exercise', 'data-toggle' => 'tooltip', 'data-placement' => 'top' %> 
		
	</div>
</div>