<h1>New Exercise</h1>

<%= render 'form', exercise: @exercise %>
<br>


<%= link_to back_tag, user_exercises_path, title: 'Back to Exercises', 'data-toggle' => 'tooltip', 'data-placement' => 'top' %>
